body {
  background-color: #062863;
  align-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.laga {
  display: block;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
article {
  display: block;
  margin: auto;
  background-color: white;
  height: 700px;
  width: 400px;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}
input {
  border: none;
}
label {
  font-size: 12px;
}
.bar {
  background-color: rgba(173, 216, 230, 0.349);
  width: 100%;
  height: 40px;
  border: none;
  box-sizing: border-box;
  outline: 0;
  border-radius: 3px;
}
.bar:active {
  border: none;
}
.btn {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #083e9e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: 0;
  border: 0px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #062863;
}
h1 {
  font-size: 18px;
  text-align: center;
  line-height: 15%;
}
h5 {
  font-size: 10px;
  text-align: center;
  line-height: 0%;
  color: grey;
}
section {
  text-align: center;
  padding: 20px;
}
a:link {
  text-align: center;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
a:link:hover {
  color: grey;
}
